.navBar {
    background-color: #00171F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1rem;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 9000;
    padding: .625rem 3.125rem;
    box-sizing: border-box;
}

.logoLink {
    width: 6.25rem;
    height: 1.875rem;
}

.searchBar {
    padding: .5rem;
    width: 52.5vw;
    max-width: 100%;
    outline: none;
}

.searchButton {
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
}

.searchIcon {
    position: absolute;
    transform: translate(-140%, -65%);
}

.essentialsDiv {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.essentialsLink {
    color: #FFFFFF;
    cursor: pointer;
    background-color: #007EA7;
    border: .125rem solid #003459;
    padding: .563rem;
    text-decoration: none;
    white-space: nowrap;
}

.essentialsLink:hover {
    background-color: #00A8E8;
}

.profileImage {
    border-radius: 50%;
    cursor: pointer;
}

.menuDiv {
    position: absolute;
    top: 4.5rem;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #00171F;
    z-index: 9000;
}

.menuLink {
    text-decoration: none;
    color: #FFFFFF;
    padding: 1.25rem 3.625rem 1.25rem 1.25rem;
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

.menuLink:hover, .logoutButton:hover {
    background-color: #003459;
}

.logoutButton {
    border: none;
    color: #FFFFFF;
    background-color: #00171F;
    cursor: pointer;
    padding: 1.25rem 3.625rem 1.25rem 1.25rem;
    display: flex;
    align-items: center;
    gap: 0.625rem;
    font-size: 1rem;
    font-family: inherit;
}

@media (max-width: 1000px) {
    .logoLink {
        display: none;
    }
}

@media (max-width: 825px) {
    .essentialsDiv {
        display: none;
    }
}
